<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rwinVerifica.Properties.Settings.PersonalConnectionString" connectionString="Data Source=.;Initial Catalog=Personal;Integrated Security=True" providerName="System.Data.SqlClient"/>

      
        <!--<add name="Con" connectionString="Data Source=.;Initial Catalog=Personal;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
      <add name="Con" connectionString="Data Source=10.71.16.33\edm2015;Initial Catalog=Computo;User id=sa;Password=Administrador$" providerName="System.Data.SqlClient" />
      
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.71.103.50/WcfSeguridad/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="srSeguridad.IService1" name="BasicHttpBinding_IService1"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
