<?xml version="1.0"?><configuration>
	<appSettings>
	<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
	<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
	
	
	
	
		
		
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<pages>
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
		<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></httpHandlers>
		<httpModules>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="RadUploadModule" />
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
			<remove name="RadCompression" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
		</modules>
		<handlers>
			<remove name="ChartImage_axd" />
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_Web_UI_DialogHandler_aspx" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_RadUploadProgressHandler_ashx" />
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_Web_UI_WebResource_axd" />
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
		<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" /></handlers>
	</system.webServer>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IService12" />
    <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
     maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
    <binding name="BasicHttpBinding_IService11" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
     maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
    <binding name="BasicHttpBinding_IService13" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://192.168.100.30/Generico/Service1.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
    contract="srBio.IService1" name="BasicHttpBinding_IService12" />
   <endpoint address="http://192.168.100.30/WcfSeguridad/Service1.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
    contract="srSeguridad.IService1" name="BasicHttpBinding_IService1" />
   <endpoint address="http://192.168.100.30/WcfPersonal/Service1.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
    contract="srPersonal.IService1" name="BasicHttpBinding_IService11" />
   <endpoint address="http://localhost/Wcfsisdav/Service1.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IService13" contract="srSisdav.IService1"
    name="BasicHttpBinding_IService13" />
  </client>
	</system.serviceModel>
</configuration>