<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService11" />                
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.71.104.46/WcfPersonal/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="srPersonal.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="http://10.71.104.46/WcfProcesoElectoral/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
                contract="srProcesoElectoral.IService1" name="BasicHttpBinding_IService11" />            
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
